body {
	font-family: sans-serif;
	font-size: 0.90em;
}


h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}

/*
h1, h2, h3, h4, h5, h6 {
	color: #000000;
}
*/

h1 {
	font-size: 1.0em;
	font-weight: bold;
	text-decoration: underline;
}

h2 {
	font-size: 0.95em;
	font-weight: normal;
	text-decoration: underline;
}

h3 {
	font-size: 0.90em;
	font-weight: normal;
	font-style: italic;
}


.center {
	text-align: center;
}

img {
	border-radius: 3%;
}

#h1nopad {
	margin-top: 0;
}

#header {
	position: absolute;
	
	text-align: center;
	font-size: 1.0em;
	background-color: #cccccc; /*#8c8c8c; #CCFF99;*/
	border-radius: 1em;
	
	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
	
	top: 0;
	left: 0;
	height: 50px;
	bottom: 50px;
	
	padding-bottom: 5px;
	padding-top: 0px;
}

#header img {
	display: none;
}

#sidebar {
	position: absolute;
	text-align: center;
	
	top: 50px;
	left: 0;	
	
	height: auto;
}

#sidebar img {
	display: none;
}

#maintext {
	position: absolute;
	
	height: auto;

	top: 50px;
	left: 0;
	
	max-width: 98%;
	
	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
	
	padding-top: 5px;
	padding-bottom: 5px;
}

li {
	margin-bottom: 1.0em;
}

span.reverse {
	unicode-bidi: bidi-override;
	direction: rtl;
}

.gallery_container {
	position: relative;
	float: left;
	
	div:nth-child(2n) {
		margin-right: 0;
	}
}

.people {
	text-align: center;
	
	float: left;
	width: 95%;
	padding: 5px;	
	height: 275px;
	
	margin-right: 5%;
	margin-bottom: 5%;
	
	/*
	border: solid 1px black;
	display: inline-block;
	*/
}

div.person_descript {
	padding: 5px;
	text-align: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (min-width: 700px){
	body {
		font-size: 1.15em;
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-size: 1.25em;
	}
	
	#header img {
		display: inline;
	}
	
	#header {
		font-size: 1.25em;

		height: 155px;
		bottom: 155px;
		
		padding-top: 5px;
	}
	
	#sidebar {
		top: 155px;
		min-width: 160px;
		width: 7%;
		padding-left: 1%;
		padding-right: 1%;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	#maintext {
		top: 155px;
		left: 10%;
		
		max-width: 85%;
		padding-left: 1%;
		padding-right: 1%;
		
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	li {
		margin-bottom: 1.35em;
	}
	
	.people {
		width: 30%;
		height: 325px;
	}
	
	.gallery_container {
		div:nth-child(3n) {
			margin-right: 0;
		}
	}
}

@media only screen and (min-width: 1400px) {
	body {
		font-size: 1.20em;
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-size: 1.30em;
	}
	
	#header {
		font-size: 1.35em;
	}
	
	#sidebar img {
		display: inline;
	}
	
	#sidebar {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	#maintext {
		padding-top: 15px;
		padding-bottom: 15px
	}
	
	.people {
		width: 16%;
		height: 325px;
	}
	
	.gallery_container {
		div:nth-child(5n) {
			margin-right: 0;
		}
	}
}
