<div class="header center">
	<img src="images/RobersonLabHeader_v02.png" alt="Gene expression heatmap Roberson lab logo" width="285px" height="110px">
</div>

<div class="nav">
	<ul>
		<li><a href="index.html">Research</a></li>
		<li><a href="people.html">People</a></li>
		<li><a href="philosophy.html">Philosophy</a></li>
		<li class="dropdown">
			<a href="javascript:void(0)" class="dropbtn">More</a>
			<div class="dropdown-content">
				<a href="collaborations.html">Collaborations</a>
				<a href="inherited_skin_disease.html">Familial diseases</a>
				<a href="eli.html">Eli</a>
			</div>
		</li>
	</ul>
</div
