<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>

<title>{{ page.title }} | Eli Roberson Lab</title>
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/images/RobersonLab_Bdna_favicon.png">
<meta name="author" content="Roberson Lab">
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>


{% include navbar.html %}

<div class="row">
	<div class="column center sidebar">
	
	<br>
	
	<img src="images/pedigree.png" alt="autosomal dominant disease pedigree" width="124px" height="53px">
	
	<br>

	<img src="images/cells_gfp.jpg" alt="HEK293 cells engineered via CRISPR / Cas9 genome-engineering to express green fluorescent protein (GFP)" width="115px" height="96px">
	
	<br>

	<img src="images/small_cano.png" alt="Example volcano plot from differential gene expression analysis" width="125px" height="161px">
	
	</div>

	<div class="column maintext">

	{{ content }}

	<br>
	<br>

	</div>

</div>

</body>

</html>
