<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>

<title>{{ page.title }} | Eli Roberson Lab</title>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/images/RobersonLab_Bdna_favicon.png">
<meta name="author" content="Roberson Lab">
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

{% include navbar.html %}

<div class="column">

{{ content }}

</div>

</body>

</html>
